<html>
    <head>
        <title>Todo list</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <div id="todo-table">
            <form action="">
                <input type="text" name="item" placeholder="Add new item..." required>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
    </body>
</html>