<html>
    <head>
        <title>Todo list</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assetsz/styles.css" type="text/css">
        <script src="/assets/todo-list.js"></script>

    </head>
    <body>
        <h1>To do list</h1>
        <div id="todo-table">
            <form action="" method="POST">
                <input type="text" name="item" placeholder="Add new item..." required>
                <button type="submit">Add Item</button>
            </form>
            <ul>
               <% for(var i=0; i < todos.length; i++){ %>
                   <li><%= todos[i].item %></li>
               <% } %>   
            </ul>
        </div>
    </body>
</html>